// Header SCSS

#header {

  height: 60px;
  padding-top: 20px;

  .site-brand {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-family: $nav-header;
    color: $green;
  }

  nav {
    margin-top: 10px;
  	float: right;
    font-size: 20px;
    font-family: $nav-header;
    color: $grey;

  	li {
      list-style-type: none;
  		float: left;
      border-left: solid 1px #000;
      padding: 0 20px;
  	}
    li:first-child {
      border-left: none;
    }
	}
}// #header
